@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: #161b15;
    font-family: 'Zen Dots',cursive;
}

head{
    display: block;
    position: relative;
    width: 200px;
    margin: 10% auto 0;
}

head::after{
    content: '';
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    top: 30px;
    left: 25px;
    border-radius: 50%;
    box-shadow: 125px 0 0 #000;
    animation: eye 2.5s infinite;
}

meta{
    position: relative;
    display: inline-block;
    background: #fff;
    width: 75px;
    height: 80px;
    border-radius: 50% 50% 50% 50%/45px 45px 45% 45%;
    transform: rotate(45deg);
}

meta::after{
    content: '';
    position: absolute;
    border-bottom: 2px solid #fff;
    width: 70px;
    height: 50px;
    left: 0;
    bottom: -10px;
    border-radius: 50%;
}

meta::before{
    bottom: auto;
    top: -100px;
    transform: rotate(45deg);
    left: 0;
}

meta:nth-of-type(2){
    float: right;
    transform: rotate(-45deg);
}

meta:nth-of-type(2)::after{
    left: 5px;
}

meta:nth-of-type(3){
    display: none;
}

body{
    margin-top: 100px;
    text-align: center;
    color: #fff;
}

h1{
    font-size: 80px;
}

h6{
    font-size: 30px;
    color: greenyellow;
    margin-top: -10px;
}

@keyframes eye {
    0%,
    30%,
    55%,
    90%,
    100%{
        transform: translate(0,0);
    }
    10%,
    25%{
        transform: translate(0,20px);
    }
    65%{
        transform: translate(-20px,0);
    }
    80%{
        transform: translate(20px,0);
    }
}

