<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>INVOICE</title>
<link th:href="@{/images/datlogo.png}" rel="icon" type="image/png"
	sizes="18*18" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.4.slim.js"
	integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4="
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" th:href="@{/css/dashboard.css}" type="text/css">
<!-- font awesome -->
<link rel="stylesheet" href="https://kit.fontawesome.com/e0faeaf50f.css"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/notiflix.min.css">
<script src="/js/notiflix-aio-3.2.6.min.js"></script>


<script>
	$(function() {
		var paymentDate = $('#paymentdate').val();
		var currentDate = new Date();
		$('#paymentdate').datetimepicker({
			format : 'YYYY-MM-DD',
			defaultDate : currentDate,
			minDate : currentDate,// add this line to set the minimum date

		});

		$('#paymentdate').val(moment(paymentDate).format('YYYY-MM-DD'));

	});
	function GetPrint() {
		window.print();

	}

	$(document)
			.ready(
					function() {
						$('#paid-button')
								.click(
										function() {
											
											
											var password = prompt("Check your invoice.If you sure,Please enter admin password:");
											
											
											while (password !== "admin123") {
												if (password === null) {
													// User clicked cancel, exit loop
													return false;
												}
												alert("Incorrect password, please try again.");
												password = prompt("Please enter admin password:");
											}
											// Password is correct, let the paid process
											alert("Paid process completed successfully.");
											return true;
											// Your paid process code here
										});
					});
</script>
<style>
.paid_print_container {
	display: none;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

.paid_print_container.show {
	display: flex;
}

.voucher_no_container {
	display: none;
	align-items: center;
}

.voucher_no_container.show {
	display: flex;
}

@media print {
	.btn {
		display: none;
	}
	.NOPrint {
		display: none;
	}
	.form-control {
		border: 0px;
	}
	.input-group-text {
		border: 0px;
		background-color: white;
	}
	.select-dropdown {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		background: transparent;
		border: none;
	}
}
</style>
</head>


<body>
	<header class="NOPrint">
		<!-- START BAVBAR -->
		<nav class="navbar navbar-light">

			<div id="mynavbar">
				<div class="container-fluid m-0">
					<div class="row">

						<!-- Start Left Sidebar -->
						<div id="nav"
							class="col-xl-2 col-lg-3 col-md-4 fixed-top collapse sidebars">

							<div class="pb-3 mt-4 text-center borderbottoms">
								<a href="" class="btn btn-outline-light rounded-circle mb-1"><i
									class="fa-solid fa-user fs-3"></i></a> <a href="#"
									class="text-white nav-link" th:text="${userName}"></a>
							</div>
							<ul class="navbar-nav flex-column mt-4">
								<li class="navbar-item"><a th:href="@{/admin/dashboard}"
									class="nav-link text-white px-2 py-2 mb-2 sidebarlinks"><i
										class="fas fa-home fa-lg me-3"></i>Dashboard</a></li>
								<li class="navbar-item"><a href="/admin/door_access"
									class="nav-link text-white px-2 py-2 mb-2 sidebarlinks"><i
										class="fa-solid fa-id-card-clip fa-lg me-3"></i>Door Access
										File</a></li>
								<li class="navbar-item"><a th:href="@{/admin/invoice}"
									class="nav-link text-white px-2 py-2 mb-2 currents"><i
										class="fa-solid fa-sack-dollar fa-lg me-3"></i>Invoice</a></li>
								<li class="navbar-item"><a th:href="@{/admin/report/today}"
									class="nav-link text-white px-2 py-2 mb-2 sidebarlinks"><i
										class="fa-solid fa-money-check fa-lg me-3"></i>Report List</a></li>
								<li class="navbar-item"><a
									th:href="@{/admin/consumer_list/today}"
									class="nav-link text-white px-2 py-2 mb-2 sidebarlinks"><i
										class="fa-solid fa-users-viewfinder fa-lg me-3"></i>Today
										Registered List</a></li>
								<li class="navbar-item"><a
									th:href="@{/admin/consumer_list/by_week}"
									class="nav-link text-white px-2 py-2 mb-2 sidebarlinks"><i
										class="fa-solid fa-users-viewfinder fa-lg me-3"></i>Registeration</a></li>
								<li class="navbar-item"><a th:href="@{/admin/menu}"
									class="nav-link text-white px-2 py-2 mb-2 sidebarlinks"><i
										class="fa-solid fa-utensils fa-lg ps-1 me-3"></i>Menu</a></li>
								<li class="navbar-item"><a th:href="@{/admin/menu}"
									class="nav-link text-white px-2 py-2 mb-2 sidebarlinks"><i
										class="fa-solid fa-user fa-lg ps-1 me-3"></i>Operator Dashboard</a></li>
								<li class="navbar-item"><a th:href="@{/admin/staff_list}"
									class="nav-link text-white px-2 py-2 mb-2 sidebarlinks"><i
										class="fa-solid fa-users-line fa-lg me-3"></i>Staff Management</a></li>
								<li class="navbar-item"><a
									th:href="@{/admin/master_data_setup}"
									class="nav-link text-white px-2 py-2 mb-2 sidebarlinks"><i
										class="fa-brands fa-mdb fa-lg me-3"></i>Master Data Setup</a></li>
								<li class="navbar-item"><a th:href="@{/admin/email}"
									class="nav-link text-white px-2 py-2 mb-2 sidebarlinks"><i
										class="fa-solid fa-envelope fa-lg me-3"></i>Email</a></li>
								<li class="navbar-item"><a href="#"
									class="nav-link text-white px-2 py-2 mb-2 sidebarlinks"><i
										class="fas fa-wrench fa-lg me-3"></i>About As</a></li>
								<li class="navbar-item"><a href="#"
									onclick="event.preventDefault(); document.getElementById('logout_form').submit();"
									class="nav-link text-white px-2 py-2 mb-2 sidebarlinks"> <i
										class="fas fa-sign-out-alt fa-lg me-3"></i>Logout
								</a></li>
							</ul>
						</div>

						<!-- End Left Sidebar -->

						<!-- Start Top Sidebar -->
						<div
							class="col-xl-12 col-lg-9 col-md-8 py-2 mb-4 ms-auto fixed-top topnavbars">
							<div
								class="row d-flex align-items-center justify-content-between ">
								<div class="d-flex justify-content-between">


									<nav class="navbar navbar-dark ">
										<div class="container-fluid">
											<button class="navbar-toggler buttons" type="button"
												data-bs-toggle="collapse" data-bs-target="#nav"
												aria-controls="nav" aria-expanded="false"
												aria-label="Toggle navigation">
												<span class="navbar-toggler-icon"></span>
											</button>
										</div>
									</nav>

									<div class="navbar-brand text-light mx-3 ">
										<img th:src="@{/images/datlogo.png}" width="60px"
											alt="favicon" /> <span class="text-uppercase pe-none mx-2 ">Catering
											Service</span>
									</div>

									<div class=" d-flex align-items-center">
										<a href="" class="nav-link fs-4"><i
											class="fa-solid fa-circle-question fa-lg me-1 qicons"></i><span
											class="me-2">Help</span></a>
									</div>
								</div>


							</div>
						</div>
						<!-- End Top Sidebar -->


					</div>
				</div>
			</div>

		</nav>
		<!-- END NAVBAR -->
	</header>




	<div class="container w-100 mb-4 mt-5 pt-5 NOPrint">
		<button type="button" class="btn btn-secondary me-3"
			th:onclick="window.location.href='/admin/invoice'">Create
			Voucher</button>
		<button type="button" class="btn btn-primary me-3"
			th:onclick="window.location.href='/admin/monthlyInvoice'">Paid
			Voucher List</button>
		<button type="button" class="btn btn-primary"
			th:onclick="window.location.href='/admin/detailInvoice'">Detail
			Invoice</button>
	</div>
	<div class="container  mb-5 w-100">

		<div class="card ">
			<div class="card-header text-center">
				<img th:src="@{/images/datlogo.png}" width="60px" alt="favicon" /><span
					class="text-uppercase fs-4 fw-bold mx-3">INVOICE</span>
			</div>
			<div class="card-body ">

				<div class="container ">
					<div class="row">

						<form action="#" th:action="@{/admin/create}" method="POST"
							class="form-inline">
							<div class="col-10">

								<div class="input-group mb-2">
									<!-- <input type="hidden" id="startDate" th:value="${startDate}" />
									<input type="hidden" id="endDate" th:value="${endDate}" /> -->
									<span class="input-group-text" id="basic-addon1">Invoice
										for</span> <span class="input-group-text" id="basic-addon1">Start
										Date </span> <input type="search" class="form-control"
										name="startDate" th:value="${startDate}" readonly="readonly">
									<span class="input-group-text" id="basic-addon1">End
										Date</span> <input type="search" name="endDate" class="form-control"
										id="endDate" th:value="${endDate}" readonly="readonly">
									<input type="hidden" th:value="${lastDate}"
										class="form-control" id="lastDate" readonly="readonly">
									<button type="submit" onclick="startLoading()"
										id="createInvoiceButton" class="btn btn-success">Create</button>
									<script>
										function startLoading() {
											Notiflix.Loading.dots('Loading...');

											// Perform some long-running task
											// ...

											Notiflix.Loading.remove();
										}
									</script>

								</div>
								<div class="col-12">
									<div class="input-group mb-2 mt-2">
										<span class="input-group-text" id="current-date">Payment
											Date</span> <input type="text" class="form-control"
											th:value="${paymentDate}" name="paymentDate"
											data-format="YYYY-MM-DD" id="paymentdate"
											th:attr="readonly=${status}" required>
									</div>
								</div>

							</div>
						</form>
					</div>
					<form th:action="@{/admin/save}" th:object="${Month}" method="post">
						<div class="row">
							<div class="col-10">
								<div
									th:class="${status ? 'voucher_no_container show' : 'paid_print_container'}">
									<span class="input-group-text" id="basic-addon1">
										Voucher No:</span> <input type="text" class="form-control"
										placeholder=" Voucher No" aria-label="Username"
										th:value="${voucherNo}" name="voucherNumber"
										aria-describedby="basic-addon1">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="input-group mb-2 mt-2">
									<span class="input-group-text" id="basic-addon1">Catering
										Service Name:</span> <select name="carteringServiceName"
										class="outline-none p-1 dropdowns select-dropdown">
										<option th:each="tempResturant : ${resturant}"
											th:text="${tempResturant.name}"></option>

									</select>
								</div>

							</div>
							<div class="col-12">
								<div class="input-group mb-3 ">
									<span class="input-group-text" id="basic-addon1">Payment
										Method</span> <select name="paymentMethod"
										class="outline-none p-1 dropdowns select-dropdown">
										<option th:each="tempPaymentMethod : ${paymentMethod}"
											th:text="${tempPaymentMethod .name}"></option>
									</select>
								</div>



							</div>
						</div>

						<table class="table table-bordered ">
							<thead class="table-info">
								<tr>
									<th scope="col">Sr.no</th>
									<th scope="col">Charges for a week</th>
									<th scope="col" class="text-end">Register Head Count</th>
									<th scope="col" class="text-end">Actual Head Count</th>
									<th scope="col" class="text-end">Difference</th>
									<th scope="col" class="text-end">Staff Cost</th>
									<th scope="col" class="text-end">DAT Cost</th>
									<th scope="col" class="text-end">Staff Amount</th>
									<th scope="col" class="text-end">DAT Amount</th>
								</tr>
							</thead>
							<tbody id="TBody">
								<tr id="TRow" th:each="tempInvoice, index  : ${invoices}">

									<th th:text="${index.count}"></th>
									<td th:text="${tempInvoice.date}"></td>
									<td th:text="${tempInvoice.registerHeadCount}"></td>
									<td th:text="${tempInvoice.actualHeadCount}"></td>
									<td th:text="${tempInvoice.difference}"></td>
									<td th:text="${tempInvoice.staffCost}"></td>
									<td th:text="${tempInvoice.companyCost}"></td>
									<td th:text="${tempInvoice.samount}"></td>
									<td th:text="${tempInvoice.camount}"></td>
								</tr>

							</tbody>
						</table>

						<div class="row">

							<div class="col-7">
								<input type="hidden" th:value="${numOfPax}" name="numberOfPax" />
								<input type="hidden" th:value="${amount}" name="amount" /> <input
									type="hidden" th:value="${price}" name="price" /> <input
									type="hidden" th:value="${startDate}" name="invoiceStartDate" />
								<input type="hidden" th:value="${endDate}" name="invoiceEndDate" />
								<input type="hidden" th:value="${paymentDate}"
									name="paymentDate" /> <input type="hidden"
									th:value="${staffPassword}" name="staffPassword"
									id="staffPassword" />



								<div
									th:class="${status ? 'paid_print_container show' : 'paid_print_container'}">
									<button type="button" class="btn btn-primary"
										onclick="GetPrint()">Print</button>



									<button type="submit" class="btn btn-primary" id="paid-button">Paid</button>


								</div>
							</div>
							<div class="col-5">

								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">Staff
										Total</span> <input th:value="${Stotal}+-Kyats" class="form-control"
										id="STotal" name="STotal" disabled="">

								</div>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">DAT
										Total</span> <input th:value="${CTotal} +-Kyats" class="form-control"
										id="CTotal" name="CTotal" disabled="">

								</div>
							</div>
						</div>
						<div class="container text-center mt-3">
							<div class="row mb-5">
								<div class="col-4">
									<label for="username" class="me-3">Cashier</label><select
										name="cashier"
										class="outline-none p-1 dropdowns select-dropdown">
										<option th:each="tempCashier : ${cashier}"
											th:text="${tempCashier.name}"></option>

									</select> <br> <br> <span class="ms-5 mb-3">Signature</span><span
										class="signs px-5 ms-2 hide"></span>
								</div>
								<div class="col-4">
									<label for="username" class="me-3">Received By</label><select
										name="receivedBy"
										class="outline-none p-1 dropdowns select-dropdown">
										<option th:each="tempReveived : ${received}"
											th:text="${tempReveived.name}"></option>

									</select> <br> <br> <span class="ms-5 mb-5">Signature</span><span
										class="signs px-5 ms-2 hide"></span>

								</div>
								<div class="col-4">
									<label for="username" class="me-3">Approved By</label><select
										name="approvedBy"
										class="outline-none p-1 dropdowns select-dropdown">
										<option th:each="tempApprove : ${approve}"
											th:text="${tempApprove.name}"></option>

									</select> <br> <br> <span class="ms-5 mb-5">Signature</span><span
										class="signs px-5 ms-2 hide"></span>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
	<!-- Logout Form -->
	<form th:action="@{/logout}" id="logout_form" method="POST">
		<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
	</form>
	<script src="./app.js"></script>




	<script src="https://kit.fontawesome.com/e0faeaf50f.js"
		crossorigin="anonymous"></script>
	<script src="/js/invoiceCreate.js"></script>

</body>

</html>