<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
    <div class="text">
        <h1>Error!</h1>
        <h6>Something went wrong</h6>
    </div><br><br>
    <a th:href="@{/welcome}">back to dashbaord</a>
</body>
</html>